.register-container {
    min-height: 100vh;
    padding: 2.5rem 2.5rem;
}

.register-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    padding-top: 2rem;
}

.register-wrapper h3>* {
    font-size: 2.6rem;
    font-weight: 500;
    color: white;

}

.register-wrapper h3 span{
    display: inline-block;
    margin-left: 1.5rem;
}

.m {
    margin-left: 1.5rem;
}

.register-img {
    max-width: 130%;
    position: relative;
    z-index: 10;
}

.register-wrapper p {
    color: rgba(255,255,255,.5)
}

.register-form-wrapper {
    border-radius: 10px;
    background-color: #fff;
    height: 100%;
    max-width: 450px;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.register-page-content {
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
}

.register-form {
    font-size: 1.5rem;
    margin-top: 5rem;
}

.register-input input {
    padding: 10px;
    border-radius: 5px;
}

.dropdown-language {
    display: flex;
    align-items: flex-end;
}